<div class="flex justify-content-end mt-3">
    <p-button icon="pi pi-plus" severity="info" [rounded]="true" [text]="true" (click)="onAdd()"></p-button>
</div>
<p-table [value]="characters" 
selectionMode="single" 
[(selection)]="selectedCharacter" 
[tableStyle]="{ 'min-width': '50rem' }">
    <ng-template pTemplate="header">
        <tr>
            <th>Name</th>
            <th>Race</th>
            <th>Class</th>
            <th></th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-character >
        <tr [pSelectableRow]="character">
            <td>{{ character.name }}</td>
            <td>{{ character.race }}</td>
            <td>{{ character.characterClass }}</td>
            <td>
                <p-button icon="pi pi-pencil" severity="info" [rounded]="true" [text]="true" (click)="onEdit(character)"></p-button>
                <p-button icon="pi pi-trash" severity="danger" [rounded]="true" [text]="true" (click)="onDelete(character)"></p-button>
            </td>
        </tr>
    </ng-template>
</p-table>