<div class="mt-5">
    <p-card header="Hello adventurer!">
        <div>
            Adventurer Log is a tool to help you document your adventures in a funny way. 

            How does it work?
            <ul>
                <li>You record your adventure</li>
                <li>We transcribe it</li>
                <li>We assign characters to the speakers</li>
                <li>We generate a journal for you</li>
            </ul>

            all of it done by AI, so you can focus on the adventure.
        </div>
    </p-card>
    <img src="intero.png" alt="Logo" class="logo" style="display: block; margin: 0 auto; width: 30%;">
</div>