
<div class="flex justify-content-center align-items-center h-full mt-5">
    <p-card header="Login">
        @if (loginFailed) {
            <div class="flex justify-content-center align-items-center">
                <p>Login failed. Please try again.</p>
            </div>
        }
        <p-inputgroup class="mb-3">
            <p-inputgroup-addon>
                <i class="pi pi-user"></i>
            </p-inputgroup-addon>
            <input pInputText placeholder="Username" [(ngModel)]="username" />
        </p-inputgroup>
        <p-inputgroup class="mb-3">
            <p-inputgroup-addon>
                <i class="pi pi-key"></i>
            </p-inputgroup-addon>
            <input pInputText type="password" placeholder="Password" [(ngModel)]="password" />
        </p-inputgroup>
        <div class="flex justify-content-end">
            <p-button label="Login" (click)="login()" />
        </div>
    </p-card>
</div>